{% extends "base.html" %}
{% import "macros.html" as macros with context %}


<!-- Replacement for Title -->
{% block title %}
Index Page
{% endblock %}

<!-- Replacement for Content -->
{% block content %}
<div class = "container-fluid">
    <br>
    <h1 class="text-center">Home Page</h1>
    <p class="text-center">Welcome to Events Tracker!</p>

    {% if current_user.is_authenticated %}
        <p class="text-center">You are signed in as {{ current_user.name }}.</p>
    {% endif %}

    {{ macros.render_alerts() }}
</div>

{% endblock %}