{% extends "errors/error_base.jinja2" %}

{% block title %}
  400 Bad Request
{% endblock %}

{% block text_header %}
  400 - Bad Request
{% endblock %}
{% block text_message %}
  The browser (or proxy) sent a request that this server could not understand.
{% endblock %}

