{% extends "errors/error_base.jinja2" %}

{% block title %}
  403 Forbidden
{% endblock %}

{% block text_header %}
  403 - Forbidden
{% endblock %}
{% block text_message %}
  Sorry, it looks as though you aren't authorised to view this page.
{% endblock %}

