{% extends "errors/error_base.jinja2" %}

{% block title %}
  500 Server Error
{% endblock %}

{% block text_header %}
  500 - Server Error
{% endblock %}
{% block text_message %}
  Sorry, something has gone wrong on our end. Please try again.
{% endblock %}

